NEXT_PUBLIC_IMAGEKIT_ID=
 
NEXT_PUBLIC_IMAGEKIT_PRIVATE=
 
NEXT_PUBLIC_IMAGEKIT_ENDPOINT=
 
NEXT_PUBLIC_TERNOR=
 
NEXT_PUBLIC_HOST=http://localhost:8000
 
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=

NEXT_PUBLIC_GEOSERVER_URL=

NEXT_PUBLIC_CESIUM_ION_TOKEN=